@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

:root{
  --dark_grey: rgb(27, 25, 25);
  --white: white;
  --red: red;
}

.button1{
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
}

.button2{
  font-size: 0.8em;
  font-weight: 600;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
  margin: 0px 10px;
}

.small-buttons{
  font-size: 1em;
    font-weight: 600;
    padding: 7px;
    background: var(--red);
    border: none;
    color: white;
    border-radius: 4px;
}

.add-button{
  padding: 10px 25px;
}

.link{
  text-decoration: none;
}
/* ==============================Login Section======================== */
.login-page{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--red);
}

.login-sec{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 25px 0px 0px 0px;
}

.login-heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  color: var(--red);
  margin: 40px 0px;
}

.login-label{
  color: var(--red);
  font-weight: 600;
  margin-left: 5px;
}
.login-input{
  font-size: 1em;
  padding: 5px;
  width: 300px;
  border: none;
  box-shadow: 0px 0px 5px var(--red);
  border-radius: 5px;
}

.login-buttons{
  margin-top: 50px;
}
/* ==============================Login Section End======================== */

/* ==========================================Navbar Section================================== */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark_grey);
  color: var(--white);
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-logo-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  font-size: 1.5em;
  color: white;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: var(--white);
  color: var(--dark_grey);
  font-size: 1.2em;
  border-radius: 10px;
}

.search-icon-sec{
  padding: 2px 5px;
  border-right: solid 2px var(--dark_grey);
}

.search-input{
  font-size: 1em;
  width: 500px;
  padding: 2px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}


.cart{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0px 2px;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

.wishlist-display{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0px 10px;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

.cart-icon{
  font-size: 2.2em;
  color: var(--white);
}
.counter{
  color: var(--dark_grey);
  font-weight: 800;
  position: absolute;
  font-size: 0.8em;
  left: 16.5px;
  top: 2.5px;
}
.wishlist-counter{
  color: var(--dark_grey);
  font-weight: 800;
  position: absolute;
  font-size: 0.8em;
  left: 20px;
  top: 6.5px;
}
.navbar-button-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register{
  font-size: 1.1em;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: underline;
  color: var(--white);
}

.register:hover{
  color: var(--red);
}
/* ==========================================Navbar Section End================================== */


/*================================== Products Section =========================== */
.products-main{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 20px 0px;
}

.products{
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}


.product-sec{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: 0px 0px 5px var(--red);
  border-radius: 10px;
}

.product-img-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img{
  width: 320px;
  height: 200px;
  box-shadow: 0px 0px 1px var(--dark_grey);
  border-radius: 5px;
}

.product-content-sec{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-text-sec{
  width: 310px;
  height: 150px;
  padding: 5px;
}

.product-text-sec p{
  margin-bottom: 10px;
}
.product-button-sec{
  margin: 5px 0px;
  display: flex;
}

.wishlist{
  padding: 11px 12px;
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.product-title{
  font-size: 1.3em;
  font-weight: 600;
  height: 60px;
}

.product-category{
  height: 30px;
}

.product-price{
  font-size: 1.2em;
  font-weight: 600;
  height: 30px;
}
/*================================== Products Section End =========================== */

/* Cart Section  */
.button-count-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px var(--red);
  padding: 2px;
  border-radius: 5px;
}



.product-counter{
  padding: 5px;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  width: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.container {
  padding: 20px;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px; /* Space between items */
}


/* Profile Section  */
.profile-page {
  padding: 20px;
}

.profile-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 18px;
  margin: 5px 0;
}


/* Loader Section  */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  font-size: 20px;
  color: #333;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px; /* Spinner size */
  height: 50px; /* Spinner size */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Purchase Section  */
.purchase-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.purchase-button {
  padding: 10px 20px;
  background-color: #28a745; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: #218838; /* Darker green */
}


/* Transaction Section */
.transaction-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.bill-details {
  margin-bottom: 20px;
}

.bill-item {
  display: flex;
  justify-content: space-between;
}

.total-price {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.continue-button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #0056b3; /* Darker blue */
}







