@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

:root{
  --dark_grey: rgb(27, 25, 25);
  --white: white;
  --red: red;
}

.button1{
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
}

.button2{
  font-size: 0.8em;
  font-weight: 600;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
  margin: 0px 10px;
}

.add-button{
  padding: 10px 25px;
}

/* ==============================Login Section======================== */
.login-page{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--red);
}

.login-sec{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 25px 0px 0px 0px;
}

.login-heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  color: var(--red);
  margin: 40px 0px;
}

.login-label{
  color: var(--red);
  font-weight: 600;
  margin-left: 5px;
}
.login-input{
  font-size: 1em;
  padding: 5px;
  width: 300px;
  border: none;
  box-shadow: 0px 0px 5px var(--red);
  border-radius: 5px;
}

.login-buttons{
  margin-top: 50px;
}
/* ==============================Login Section End======================== */

/* ==========================================Navbar Section================================== */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark_grey);
  color: var(--white);
  padding: 15px;
  position: sticky;
  top: 0;
}

.navbar-logo-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  font-size: 2em;
}

.navbar-img{
  height: 53px;
  width: 57px;
}

.cart{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0px 20px;
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
}

.counter{
  padding: 3.5px 8px;
  border-radius: 50%;
  background-color: rgb(78, 74, 74);
  color: var(--white);
  font-weight: 600;
  position: absolute;
  font-size: 0.8em;
  left: 43px;
  top: 12px;
}
.navbar-button-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==========================================Navbar Section End================================== */


/*================================== Products Section =========================== */
.products-main{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 20px 0px;
}

.products{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  scrollbar-width: none;
}


.product-sec{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 0px 5px var(--red);
  border-radius: 10px;
}

.product-img-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img{
  width: 350px;
  height: 225px;
  box-shadow: 0px 0px 1px var(--dark_grey);
  border-radius: 5px;
}

.product-content-sec{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-text-sec{
  width: 340px;
  height: 150px;
  padding: 5px;
}

.product-text-sec p{
  margin-bottom: 10px;
}
.product-button-sec{
  margin: 5px 0px;
  display: flex;
}

.wishlist{
  padding: 11px 12px;
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}
/*================================== Products Section End =========================== */
