@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

:root{
  --dark_grey: rgb(27, 25, 25);
  --white: white;
  --red: red;
}

.button1{
  font-size: 1em;
  font-weight: 600;
  color: var(--white);
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
}

.button2{
  font-size: 0.8em;
  font-weight: 600;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--red);
  border: none;
  margin: 0px 10px;
}

.add-button{
  padding: 10px 25px;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark_grey);
  color: var(--white);
  padding: 15px;
  position: sticky;
  top: 0;
}

.navbar-logo-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  font-size: 2em;
}

.navbar-img{
  height: 53px;
  width: 53px;
}

.cart{
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.counter{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(78, 74, 74);
  color: var(--white);
  font-weight: 600;
}
.navbar-button-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}


.products-main{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  margin: 20px 0px;
}

.products{
  display: flex;
  justify-content: space-around;
}


.product-sec{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 0px 5px var(--red);
  border-radius: 10px;
}

.product-img-sec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img{
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 1px var(--dark_grey);
  border-radius: 5px;
}

.product-content-sec{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-text-sec{
  width: 290px;
  padding: 5px;
}

.product-button-sec{
  margin: 5px 0px;
  display: flex;
}
